:root > * {
  --md-primary-fg-color: #0f3b64;
  --md-primary-fg-color--dark: #5d6cc0;
  --md-typeset-a-color: #5ba6ec;
  /* --md-text-font-color:         #ffffff;  */
  /* --md-primary-fg-color--light: #ECB7B7; */
}

/* https://github.com/OpenEnergyPlatform/academy/issues/161
make font in section after ## About ... small
*/

h2.section-about ~ * {
  font-size: x-small;
}

/* https://github.com/OpenEnergyPlatform/academy/issues/209 */

.md-typeset h1 {
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 2.5em;
}

table th:first-child,
table td:first-child {
    width: auto !important;  /* Set the desired width */
    min-width: 1.5em !important;  /* Ensure the column doesn't shrink below this width */
    word-wrap: break-word;  /* Break long words to fit within the column */
}
